@model WebApplication1.Models.Casovi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Casovi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Predmet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Predmet.ImePredmet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojCasovi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojCasovi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipCasovi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipCasovi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studenti)
        </dt>
        <dd class="col-sm-10">
            @foreach (var student in Model.Studenti)
            {
                <a asp-controller="Students" asp-action="Details" asp-route-id="@student.StudentId">
                    @student.Student.ImePrezime
                </a> <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
